*{
    margin: 0;
    padding: 0;
}
div{
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px solid white;
    position: relative;
}
a{
    position: absolute;
    left: 25px;
    top: 35px;
    color: white;
    font-size: 18px;
    text-decoration: none;
}
div:hover{
    background-color: blue;
}
div:nth-of-type(2){
    right: -200px;
    top: -100px;
}
div:nth-of-type(4){
    top: -100px;
    right:-200px;
}
div:nth-of-type(5){
    top: -300px;
    right: -100px;
}