*{
    margin: 0;
    padding: 0;
}
body{
    width: 350px;
    height: 40px;
    border: 1px solid black;
    margin: 0 auto;
}
h1{
    font-size: 12px;
    height: 27px;
    margin-left: 38px;
    line-height: 30px;
    font-weight: bold;
}
.middle{
    margin-top: 30px;
    margin-bottom: 70px;
}
.middle img{
    float: left;
}
.middle h2{
    font-size: 15px;
    font-weight: bold;
    float: left;
    margin-left: 10px;
}
.middle p{
    display: inline-block;
    color: #909192;
    margin: 5px;
}
.middle div p:last-child{
    float: left;
}
.foot{
    margin-top: 40px;
}
.foot p a{
    color: #909192;
    margin: 10px;
    font-size: 15px;
    float: left;
    text-decoration: none;
}
.foot p span{
    float: right;
    color: #909192;
    margin: 10px;
    font-size: 15px;
}
