*{
    margin: 0;
    padding: 0;
}
body{
    border: 1px solid black;
    margin: 0 auto;
    width: 990px;
}
/* 头部 */
h2{
    margin:30px 10px 0px 20px;
    float: left;
    color: #656565;
}
img{
    margin:20px 10px 10px 10%;
    float: left;
}
/* 中间 */
.content:after{
    content: '';
    display: block;
    clear: both;
}
.content{
    clear: both;
}
.warp{
    width: 990px;
    margin: 0 auto;
}
.login-box{
    width: 300px;
    height: 200px;
    background-color: white;
    margin: 0px 0px 0px 600px;
}
/* 底部 */
footer{
    margin-top: 20px;
}
footer a{
    font-size: 10px;
    text-decoration: none;
    color: gray;
}
footer a:nth-of-type(1){
    margin-left: 15%;
}
footer a:nth-of-type(2){
    margin-left: 40%;
}
