h2{
    color: #003580;
}
#jianjie{
    font-size: 14px;
    color: #000033;
}
.first{
    width: 100px;
    height: 160px;
}
.second{
    width: 200px;
    height: 130px;
}
.p1{
    color: #F00; 
}
.p2{
    color: #1F87CC;
}
.p3{
    color: #FAA53B;
}
.p4{
    color: #0D7114;
}
a{
    color: red;
}